<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>

    
    <div class="container mt-5">
        <div class="mb-3 d-inline-block">
            <h1>New Dojo</h1>
            <form action="/create_dojo" method="post">
                <label for="name" class="form-label">Name:</label>
                <input type="text" name="name" class="form-control">
                <button class="mt-3">Create</button>

            </form>
            <h1 class="mt-3">All Dojos</h1>
            <div>
                {% for dojo in dojos %}
                <a href="/dojos/{{dojo.id}}">
                    <p>{{dojo.name.capitalize()}}</p>
                </a>
                {% endfor %}

            </div>
        </div>
        <div class="mt-3">
            <a href="/ninjas" class="btn-primary">Add Ninja</a>
        </div>



        <div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>

</html>